<! --markov_app/template/index.html -->
<! DOCTYPE html>
<html>
    <head>
       <meta charset='utf-8'>
       <title> Markov-Chain Project</title>
    </head>
    <body>
    <h1> Hello Python Beginners! </h1>
    <form action="{% url 'database_update' %}" method="post">
    {% csrf_token %}
    Start Typing Here: <input list="words" name="starting_word">
    <datalist id="words">
    <option value = 'I wish to display this value from database'>
    <option value = 'I wish to display this value from database'>
    <option value = 'I wish to display this value from database'>
    </datalist>
    <input type="submit" value="Click Here!"/>
    </form>
    </body>
</html>
